appdirs==1.4.0
astroid==1.4.9
atomicwrites==1.3.0
attrs==19.1.0
click==6.7
coverage==4.3.4
coveralls==1.1
docopt==0.6.2
fibonacci==1.0.0
isort==4.2.5
lazy-object-proxy==1.2.2
lxml==4.3.3
mccabe==0.6.1
more-itertools==7.0.0
nose==1.3.7
packaging==16.8
pluggy==0.9.0
py==1.8.0
pyparsing==2.1.10
pytest==4.4.0
requests==2.13.0
six==1.10.0
wrapt==1.10.8
xmltodict==0.12.0
pytest==4.4.0
